{% extends 'base.html.twig' %}

{% block title %}Mon panier -Do Sport
{% endblock %}

{% block content %}
	<h1>Mon panier</h1>
	Retrouvez l'ensemble des produits que vous avez ajouté à votre panier

	{# <pre>
			{{ dump(cart) }}
		</pre> #}

	{# {% if not (cart is empty) %} #}
	{% if cart|length > 0 %}

		<table class="table mt-3">
			<thead>
				<tr>
					<th scope="col">Produit</th>
					<th scope="col"></th>
					<th scope="col">Quantité</th>
					<th scope="col">Prix</th>
					<th scope="col">Total</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>

				{# <pre>
							{{ dump(cart) }}
						</pre> #}

				{% set total = null %}

				{% for product in cart %}

					<tr>

						<th scope="row">
							<img src="/uploads/{{ product.product.illustration }}" alt="/uploads/{{ product.product.name }}" height="75px"><br>
						</th>
						<td>
							{{  product.product.name }}<br>
							<small>{{ product.product.subtitle }}</small>
						</td>
						<td>
							<a href="{{ path('decrease_to_cart', { 'id' : product.product.id }) }}">
								<img src="{{ asset('assets/img/minus-sign.png') }}" height="12px" alt="Retirer">
							</a>
							x {{  product.quantity }}
							<a href="{{ path('add-to-cart', { 'id' : product.product.id }) }}">
								<img src="{{ asset('assets/img/plus.png') }}" height="12px" alt="Ajouter">
							</a>
						</td>
						<td>{{ (product.product.price / 100)|number_format(2, ',', '.') }}€</td>
						<td>{{ ((product.product.price * product.quantity) / 100)|number_format(2, ',', '.') }}€</td>
						<td>
							<a href="{{ path('delete_to_cart', { 'id' :product.product.id}) }} " onclick="return confirm('Etes vous sur de vouloir supprimer ?');">
								<img src="{{ asset('assets/img/delete.png') }}" height="18px" alt="Supprimer mon produit">
							</a>
						</td>
					</tr>
					{% set total = total + (product.product.price * product.quantity) %}

				{% endfor %}
			</tbody>
		</table>
		<div class="text-right">
			<b>Nombre de produit(s) :
				{{ cart|length }}</b><br>
			<b>Total de mon panier :</b>
			{{ (total / 100)|number_format(2, ',', '.') }}
			€<br>
			<a href="{{ path('order') }}" class="btn btn-success btn-block mt-3">Valider mon panier</a>
		</div>

	{% else %}

		<hr>
		<h3 class="mt-5 mb-5">Vous n'avez rien dans votre panier !</h3>
		<hr>


	{% endif %}

{% endblock %}
