{% extends 'base.html.twig' %}

{% block title %}Nos produits - Do Sport
{% endblock %}

{% block content %}
	<div class="row mt-5">
		<div class="col-md-3">
			<h3>Filtrer</h3>
			{{ form(form) }}
		</div>
		<div class="col-md-9">

			<h1>Nos produits</h1>
				{# <pre>
					{{ dump(products) }}
				</pre> #}


			<div class="row row-cols-1 row-cols-md-3 g-4 ">

				{% for product in products %}
					<div class="col mb-3">
						<div class="card h-100">
							<a href="{{ path('product', {'slug': product.slug} ) }}"><img src="/uploads/{{ product.illustration}}" class="card-img-top" alt="{{ product.name }}"></a>
							<div class="card-body">
								<h5 class="card-title">{{ product.name }}</h5>
								<span class="product-subtitle">{{ product.subtitle}}</span><br>
								<strong>
									<span class="product-price">{{ (product.price / 100)|number_format(2, ',', '.') }}</strong>
									€</span>
								{# <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> #}
							</div>
							<a href="{{ path('add-to-cart', {'id' : product.id}) }}" class="btn btn-success mb-3 mt-0">Ajouter au panier</a>

						</div>
					</div>
				{% endfor %}
			</div>


		</div>
	</div>
{% endblock %}
